/* @font-face {
    font-family: 'alibb';
    src: url('../fonts/Alibaba-PuHuiTi-Regular.ttf')
}

@font-face {
    font-family: 'alibb-light';
    src: url('../fonts/Alibaba-PuHuiTi-Light.ttf')
} */


/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "alibb-light";
    font-weight: 250;
    src: url("//at.alicdn.com/wf/webfont/Z9UvmsgQulg8/eKzKzjlMWdK1.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/Z9UvmsgQulg8/LrkP4D9gavER.woff") format("woff");
    font-display: swap;
}


body {
    /* font-family: 'alibb-light' !important; */
}