@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");



html,
body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;

}

/* 分割 */

:where(.css-dev-only-do-not-override-17seli4).ant-menu .ant-menu-item .ant-menu-item-icon svg {
    color: #DE97F7;
}

:where(.css-dev-only-do-not-override-17seli4).ant-menu-light .ant-menu-item {
    color: white;
}

:where(.css-dev-only-do-not-override-17seli4).ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title {
    background: linear-gradient(90deg, #DE97F7 0%, #B294F5 50.5%, #9BB1FD 100%) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.ant-menu-title-content {
    background: linear-gradient(90deg, #DE97F7 0%, #B294F5 50.5%, #9BB1FD 100%) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

}

:where(.css-dev-only-do-not-override-17seli4).ant-drawer .ant-drawer-body {
    padding: 10px
}

:where(.css-dev-only-do-not-override-17seli4).ant-menu-light.ant-menu-root.ant-menu-inline {

    border-inline-end: 0px
}

.text-p {

    background: linear-gradient(90deg, #E8EAED 0%, #7877C6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-p2 {
    background: linear-gradient(90deg, #E8EAED 0%, #020224 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.desc {
    background: linear-gradient(180deg, #FFF 0%, #8298C9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.newsTitle {
    background: linear-gradient(180deg, #FFF 0%, #8298C9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.text-test {
    background: linear-gradient(90deg, #DE97F7 0%, #B294F5 50.5%, #9BB1FD 100%) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.text-title {
    background: linear-gradient(180deg, #FFF 0%, #8298C9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 分割 */

.fp-overflow {
    height: 100%;
}

.fp-watermark {
    display: none;
}

.ant-input-number .ant-input-number-input {
    padding: 0px 11px !important;
}


:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {

    width: 0px !important;

}

.ant-table-thead .ant-checkbox-wrapper {
    /* display: none ; */
}

.ant-table-thead .ant-table-selection-column::before {
    /* content: "选择"; */
    white-space: nowrap;


}


/* .ant-col .ant-col-14 .ant-form-item-control {
width: 300px !important;
height: 40px !important;
  } */
.HomeCard-style {
    border: 1px solid #D9D9D9;
}

.HomeCard-style:hover {
    /* transform: scale(1.01); */
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: 1px solid #4183FF;
    /* transition: all  0.2s ; */

}

.homePage {
    /* border-radius: 10px; */
    /* background: linear-gradient(180deg, #FFF 0%, #F1F6FF 100%); */
}

.ant-form-item .ant-form-item-label>label {
    font-size: 1.25rem !important;
    color: #404B63 !important;
    height: 100% !important;

}

:where(.css-dev-only-do-not-override-17seli4).ant-form-horizontal .ant-form-item-label {
    flex: none !important;
    max-width: 100%;
}

.ant-form-item-control {
    /* max-width: 100% !important; */
}

.control .ant-input-outlined {
    background-color: #F8F9FB !important;
}

.ant-form-item .ant-form-item-explain-error {
    text-align: start;
    font-family: 'alibb' !important;
}

.ant-pagination .ant-pagination-total-text {

    font-size: 1rem !important;
    color: #565656 !important;
    font-family: 'alibb' !important;
}

.ant-pagination .ant-pagination-item {
    font-size: 1rem !important;
    font-family: 'alibb' !important;
}

.ant-select-selection-item {
    font-size: 1rem !important;
    font-family: 'alibb' !important;

}

.ant-select-selection-item {
    font-size: 1rem !important;
    font-family: 'alibb' !important;
}

.popstyle.ant-popover .ant-popover-arrow:before {
    background-color: #000 !important;
    font-family: 'alibb' !important;

}

.popstyle.ant-popover .ant-popover-inner {
    background-color: #000 !important;
    color: white !important;
    font-family: 'alibb' !important;
}

.ant-table-wrapper {
    font-family: 'alibb' !important;
}

.ant-btn-primary {
    /* background-color: #1677ff !important; */
}

/* .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
    transition: all 2s ease-in-out;
    } */
.ant-dropdown {
    border-radius: 0px !important;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
    background-color: #EDF3FD !important;
    color: #4183FF !important;

}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply relative z-1 bg-whiten font-satoshi text-base font-normal text-body;

    }
}

@layer components {}

.tabelInput .ant-input-outlined {
    border-width: 0px !important;
}

.use-table .ant-table-thead .ant-table-cell {
    /* background-color:#FAFAFC !important; */
    color: #404B63 !important;
    font-size: 1rem;
    font-weight: 500 !important;
    height: 4rem;
    border-radius: 0px;
    font-family: 'alibb';
    /* padding-left: 30px !important; */

}



.use-table .ant-table-cell {

    /* background-color:#FAFAFC !important; */
}

.use-table .ant-table-content {
    /* background-color:#FAFAFC !important; */
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    padding: 0rem 1.5rem;
    padding-bottom: 0px;
}

.use-table .ant-table-row {
    font-size: 1rem !important;
    font-weight: 400 !important;
    color: #404B63 !important;
    height: 4rem;
    font-family: 'alibb';
    /* background-color: #FAFAFC; */
}



.ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
.ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
.ant-table-thead>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td,
.ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
    /* border: 2px solid #306DDD; */

    /* background: #FFF !important; */
}





.table-style .ant-table-thead .ant-table-cell {
    background-color: #f6f9ff !important;
    color: #565656 !important;
    font-size: 1.25rem;
    font-weight: 600 !important;
    height: 4.1rem;
    border-radius: 0px;
    font-family: 'alibb';
}

.table-style .ant-table-row {
    font-size: 1.25rem !important;
    font-weight: 300 !important;
    color: #565656 !important;
    height: 5.625rem;
    font-family: 'alibb';
}

.table-style .ant-table-cell {
    padding: 1rem 0rem 1rem 5rem !important;
    border-radius: 0px !important;
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .chat-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }

    .inbox-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }
}

/* third-party libraries CSS */